@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Custom scoll */

::-webkit-scrollbar {
  background-color: rgba(17, 17, 17, 0.9);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    transparent,
    rgba(255, 255, 255),
    rgba(255, 255, 0)
  );
  border-radius: 10px;
}
/* Laptop Responsive */
#main {
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.9);
}
header {
  align-items: flex-end;
  padding: 15px 1%;
  word-spacing: 20px;
  text-align: center;
}
.logo {
  display: flex;
  justify-content: left;
  color: white;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  font-size: 60px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
}
.nav-links li a {
  font-size: 25px;
  font-family: "Mali", Verdana;
  color: yellow;
  transition: 0.5 ease 0.1s;
  text-decoration: none;
}
.nav-links li a:hover {
  transition: 0.5s ease 0s;
  color: rgb(7, 200, 248);
}
.span {
  font-family: "Mali", Verdana;
  color: yellow;
}
.info {
  margin: 12px;
  color: white;
}
.info img {
  float: left;
  text-align: left;
  padding: 50px 15px 50px 15px;
  width: 230px;
}
.info p {
  line-height: 25px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 50px;
}

/* Mobile Responsive */

@media screen and (max-width: 480px) {
  #main {
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.9);
  }
  header {
    background-color: rgba(92, 69, 69, 0.507);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 1%;
    word-spacing: 3px;
  }
  .logo {
    font-size: 25px;
    padding: 3px;
    margin-right: 55px;
  }
  .nav-links {
    list-style: none;
  }
  .nav-links li {
    display: inline-block;
  }
  .nav-links li a {
    font-size: 15px;
    font-family: "Mali", Verdana;
    color: yellow;
    transition: 0.5 ease 0.1s;
    text-decoration: none;
  }
  .nav-links li a:hover {
    transition: 0.5s ease 0s;
    color: rgb(10, 198, 245);
  }
  .span {
    font-family: "Mali", Verdana;
  }
  .info {
    color: white;
  }
  .info img {
    display: inline;
    width: 200px;
    padding: 20px 20px 20px 50px;
  }
  .info p {
    font-family: "Mali", Verdana;
    padding: 15px;
    line-height: 32px;
    flex-wrap: wrap;
    font-size: 20px;
  }
}
